
.formulario-box {
  padding-top: 72px;
}
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 100%;
    .formulario-itens {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &>div:first-of-type {
        min-width: 48%;
      }
      &>div:nth-of-type(2) {
        min-width: 48%;
        textarea {
          width: 100%;
          height: 100%;
        }
      }
      .separar-form {
        div {
          padding-bottom: 19px;
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
    .formulario-itens2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nome-email {
        display: flex;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding-bottom: 19px;
        div {
          width: 50%;
          input {
            height: 51px;
            width: 100%;
          }
        }
      }
      div {
        width: 100%;
        textarea {
          height: 191px;
        }
      }
      .texto-enviar {
        padding-top: 21px;
        display: flex;
        justify-content: space-between;
        div:nth-of-type(2) {
          width: 40%;
          button {
            width: 100%;
          }
        }
      }
    }
    .separar-form2 {
      padding-top: 27px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        max-width: 730px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.3px;
        color: #808080;
      }
    }
  }
}

