.bg-casa {
  background-image: url(images/bg-casa.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 504px;
  display: flex;
  align-items: flex-end;
  .texto-casa {
    background-color: black;
    max-width: 764px;
    height: 278px;
    display: flex;
    gap: 57px;
    position: relative;
    .data {
      margin-top: 20px;
      margin-left: 20px;
      background-color: $vermelho;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 114px;
      width: 114px;
      color: white;
      h2 {
        font-weight: 700;
        font-size: 48px;
      }
      p {
        font-weight: 600;
        font-size: 13px;
      }
    }
    .titulo-blog {
      align-self: center;
      text-align: left;
      h3 {
        width: fit-content;
        color: $cinza-escuro;
        font-weight: 500;
        font-size: 17px;
        border: 1px solid $cinza-escuro;
        padding: 8px 15px;
        border-radius: 100px;
      }
      h4 {
        padding-top: 27px;
        padding-bottom: 24px;
        max-width: 478px;
        color: white;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }
      a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 17px;
        display: flex;
        align-items: center;
        gap: 9px;
      }
    }
    span {
      height: 9px;
      width: 100%;
      position: absolute;
      background-color: $vermelho;
      bottom: 0;
    }
  }
}

.titulo-blog {
  padding-top: 38px;
  padding-bottom: 72px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #767676;
}
.box-noticia {
  display: flex;
  justify-content: center;
  gap: 30px;
  .noticia {
    max-width: 829px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      padding-bottom: 38px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 26.77px;
      padding-bottom: 20px;
      color: $cinza-escuro;
    }
    ul {
      padding-top: 56px;
      padding-bottom: 41px;
      font-weight: 500;
      font-size: 18px;
      color: #0d0d0d;
    }
    .noticia-redes {
      align-self: flex-start;
      padding-top: 129px;
      width: 100%;
      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 25px;
        padding-top: 33px;
      }
    }
    .formulario-blog {
      padding-top: 132px;
      width: 100%;
    }
    .comentarios-blog {
      width: 100%;
      .comentario-user {
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 41px;
        .user {
          display: flex;
          align-items: center;
          gap: 15px;
          h3 {
            font-weight: 500;
            font-size: 20px;
            color: black;
          }
          p {
            font-weight: 400;
            font-size: 18px;
            color: $cinza-escuro;
          }
        }
      }
    }
  }
  .links-noticia {
    max-width: 257px;
    .assuntos-link {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-top: 29px;
    }
    .veja-mais {
      display: flex;
      flex-direction: column;
      gap: 30px;
      a {
        text-decoration: none;
        h3 {
          font-weight: 700;
          font-size: 16px;
          color: black;
        }
        p {
          font-style: 500;
          font-size: 16px;
          line-height: 24px;
          color: black;
        }
      }
    }
  }
}
