i {
  color: black;
  &:hover {
    color: $cinza;
  }
}
.botao-preto {
  background-color: black;
  max-height: 51px;
  padding: 14px 20px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  img {
    padding-right: 8px;
  }
  &:hover {
    color: white;
    box-shadow: 0px 10px 20px $cinza;
  }
}
.botao-vermelho {
  white-space: nowrap;
  background-color: $vermelho;
  border: none;
  max-height: 51px;
  padding: 16px 30px 17px 30px;
  border-radius: 3px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
    img {
      padding-right: 8px;
    }
  &:hover {
    color: white;
    background: $vermelho-claro;
    box-shadow: 0px 10px 20px rgba(198, 20, 0, 0.7);
    border-radius: 3px;
  }
}

.box-titulo {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 252px;
  z-index: -2;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    h1 {
      color: white;
      font-size: 48px;
      text-align: center;
      line-height: 40px;
      padding-bottom: 18px;
    }
    p {
      font-size: 17px;
      text-align: center;
      line-height: 20.72px;
      color: $cinza;
    }
    span {
      width: 80%;
      height: 9px;
      background-color: $vermelho;
      position: absolute;
      bottom: 0;
    }
  }
}

.box {
  padding-top: 89px;
  h2 {
    color: $vermelho;
    font-size: 30px;
  }
  span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: black;
    margin-top: 29px;
  }
  iframe {
    padding-top: 23px;
    height: 435px;
    width: 100%;
  }
  .box-endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    p {
      max-width: 550px;
      text-align: center;
      color: #0D0D0D;
    }
  }
  .contato-mapa {
    background-color: black;
    border-radius: 3px;
    min-height: 188px;
    margin: 113px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .mapa-item {
      color: $cinza-claro;
      max-height: 74px;
      &:last-of-type {
        background-color: $verde;
        border-radius: 3px;
        max-width: 239px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 28px;
      }
      div {
        display: flex;
        h3 {
          margin: 0;
        }
        img {
          padding-right: 6px;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.pagination-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 117px;
  span {
    display: block;
    height: 9px;
    background-color: black;
    margin-bottom: 20px;
  }
  div {
    margin-left: auto;
    display: flex;
    gap: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 3px;
      font-weight: 500;
      font-size: 15px;
      height: 51px;
      width: 51px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: #dadada;
      }
      &:active {
        background-color: black;
        color: white;
      }
    }
  }
}

.categorias-item {
  display: flex;
  align-items: center;
  border: 1px solid $cinza-escuro;
  border-radius: 100px;
  width: fit-content;
  height: 34px;
  padding: 9px 18px;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: $cinza-escuro;
  &:hover {
    color: $cinza-escuro;
    background-color: #dadada;
  }
  &:active {
    background-color: black;
    color: white;
  }
}

.lotes-item {
  display: block;
  padding-bottom: 40px;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: #4a4a4a;
      text-decoration: underline;
      & > div {
        overflow: hidden;
      }
      img {
        animation: crescer 0.5s forwards;
      }
      span {
        background-color: $vermelho-claro;
      }
    }
    span {
      display: block;
      height: 8px;
      width: 100%;
      background-color: black;
    }
    h2 {
      padding-top: 20px;
      font-size: 14px;
    }
    h3 {
      padding-top: 15px;
      font-weight: 500;
      font-size: 22px;
    }
    p {
      padding-top: 8px;
    }
  }
}
@keyframes crescer {
  to {
    transform: scale(1.2);
  }
}

.galeria-item {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  &:hover {
    .texto-blog {
      h3,
      p {
        color: #4a4a4a;
        text-decoration: underline;
      }
      div {
        color: $vermelho-claro;
      }
    }
    svg {
      path {
        stroke: $vermelho-claro;
      }
      rect {
        fill: $vermelho-claro;
      }
    }
  }
  a {
    text-decoration: none;
    &:hover {
      .sobrepor-link {
        .lupa {
          background-color: $vermelho-claro;
        }
        &>div {
          background-color: $vermelho-claro;
        }
      }
      .texto-blog {
        color: #4a4a4a;
      }
    }
    .sobrepor-link {
      position: relative;
      &>img {
        width: 100%;
      }
      & > div {
        position: absolute;
        color: $cinza-claro;
        background-color: $vermelho;
        width: 114px;
        height: 114px;
        bottom: 1.1875rem;
        left: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .lupa {
        position: absolute;
        color: $cinza-claro;
        background-color: $vermelho;
        width: 65px;
        height: 65px;
        bottom: 1.1875rem;
        left: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
    .texto-blog {
      text-align: left;
      color: black;
      h3 {
        padding-top: 31px;
        font-weight: 500;
        font-size: 20px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        height: 100px;
      }
      & > div {
        display: flex;
        align-items: center;
        gap: 15px;
        color: $vermelho;
        padding-bottom: 89px;
        // &:hover {
        //   text-decoration: none;
        // }
      }
    }
  }
}

.titulo-h2 {
  font-size: 16px;
  color: black;
  padding-bottom: 26px;
  border-bottom: 2px solid black;
}

.categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 40px;
  padding-bottom: 60px;
}
