$vermelho: #8a1002;
$cinza-claro: #f6f6f6;
$cinza-escuro: #4a4a4a;
$verde: #028a49;
.botao-preto {
  background-color: black;
  padding: 14px 20px;
  border-radius: 3px;
  text-align: center;
  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    img {
      padding-right: 8px;
    }
  }
}
.botao-vermelho {
  background-color: $vermelho;
  border: none;
  padding: 14px 20px;
  border-radius: 3px;
  text-align: center;
  color: white;
  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    img {
      padding-right: 8px;
    }
  }
  &:hover {
    background-color: #C61400;
    box-shadow: -5px 5px 18px #C61400;
  }
}

.box-titulo {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 252px;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      color: white;
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      line-height: 40px;
      padding-bottom: 18px;
    }
    p {
      font-weight: 500;
      font-size: 17px;
      text-align: center;
      line-height: 20.72px;
      color: #767676;
    }
  }
}

.box {
  padding-top: 89px;
  h2 {
    color: $vermelho;
    font-weight: 400;
    font-size: 30px;
  }
  span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: black;
    margin-top: 29px;
    margin-bottom: 62px;
  }
  iframe {
    height: 435px;
    width: 100%;
  }
  .contato-mapa {
    background-color: black;
    border-radius: 3px;
    height: 188px;
    margin: 113px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .mapa-item {
      color: $cinza-claro;
      div {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        h3 {
          font-weight: 600;
          margin: 0;
        }
        p {
          font-weight: 400;
        }
        img {
          padding-bottom: 10px;
        }
      }
      &:last-of-type {
        background-color: $verde;
        border-radius: 3px;
        padding-left: 28px;
        width: 239px;
        padding-top: 10px;
      }
    }
  }
}

.pagination-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 117px;
  span {
    display: block;
    height: 9px;
    background-color: black;
    margin-bottom: 20px;
  }
  div {
    margin-left: auto;
    display: flex;
    gap: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 3px;
      font-weight: 500;
      font-size: 15px;
      height: 51px;
      width: 51px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: #DADADA;
      }
      &:active {
        background-color: black;
        color: white;
      }
    }
  }
}

.galeria-item {
  a {
    text-decoration: none;
    color: $cinza-claro;
    &>div {
      position: relative;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    div:nth-of-type(2) {
      z-index: 2;
      position: absolute;
      background-color: $vermelho;
      width: 114px;
      height: 114px;

      left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        z-index: 3;
        width: 22px;
        height: 22px;
      }
    }   
  }
}
