.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    padding-top: 72px;
    padding-bottom: 172px;
    width: 100%;
    .formulario-itens {
      display: flex;
      width: 100%;
      &>div:first-of-type {
        width: 50%;
      }
      &>div:nth-of-type(2) {
        width: 50%;
        textarea {
          height: 100%;
        }
      }
      .separar-form {
        padding-right: 30px;
        div {
          padding-bottom: 19px;
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
    .separar-form2 {
      padding-top: 27px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        width: 730px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.3px;
        color: #808080;
      }
    }
  }
}

