nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  .btn {
    display: none;
  }
 .logo {
  margin-bottom: -80px;
 }
 ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
 }
 .desktop-list {
  height: 100%;
  li {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $cinza-claro;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
}

.botao-nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
