.categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  .categorias-item {
    display: flex;
    align-items: center;
    border: 1px solid $cinza-escuro;
    border-radius: 100px;
    height: 34px;
    padding: 18px 9px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: $cinza-escuro;
    &:hover {
      background-color: #DADADA;
    }
    &:active {
      background-color: black;
      color: white;
    }
  }
}
.lotes-box {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .lotes-item {
    padding-bottom: 40px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      span {
        display: block;
        padding-top: 20px;
        font-weight: 500;
        font-size: 14px;
      }
      h3 {
        padding-top: 15px;
        font-weight: 500;
        font-size: 22px;
      }
      p {
        padding-top: 8px;
        font-weight: 500; 
        &:first-of-type {
          font-size: 16px;
        }
        &:nth-of-type(2) {
          font-size: 14px;
        }
      }
    }
  }
}