i {
  color: black;
}
i:hover {
  color: #767676;
}

.botao-preto {
  background-color: black;
  padding: 14px 20px;
  border-radius: 3px;
  text-align: center;
}
.botao-preto a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.botao-preto a img {
  padding-right: 8px;
}
.botao-preto:hover {
  box-shadow: 0px 10px 20px #767676;
}

.botao-vermelho {
  background-color: #8a1002;
  border: none;
  padding: 14px 20px;
  border-radius: 3px;
  text-align: center;
  color: white;
}
.botao-vermelho a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.botao-vermelho a img {
  padding-right: 8px;
}
.botao-vermelho:hover {
  background: #c61400;
  box-shadow: 0px 10px 20px rgba(198, 20, 0, 0.7);
  border-radius: 3px;
}

.box-titulo {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 252px;
  z-index: -2;
}
.box-titulo div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.box-titulo div h1 {
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 40px;
  padding-bottom: 18px;
}
.box-titulo div p {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  line-height: 20.72px;
  color: #767676;
}
.box-titulo div span {
  width: 80%;
  height: 9px;
  background-color: #8a1002;
  position: absolute;
  bottom: 0;
}

.box {
  padding-top: 89px;
}
.box h2 {
  color: #8a1002;
  font-weight: 400;
  font-size: 30px;
}
.box span {
  display: block;
  width: 100%;
  height: 9px;
  background-color: black;
  margin-top: 29px;
}
.box iframe {
  padding-top: 23px;
  height: 435px;
  width: 100%;
}
.box .contato-mapa {
  background-color: black;
  border-radius: 3px;
  min-height: 188px;
  margin: 113px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box .contato-mapa .mapa-item {
  color: #f6f6f6;
}
.box .contato-mapa .mapa-item:last-of-type {
  background-color: #028a49;
  border-radius: 3px;
  max-width: 239px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box .contato-mapa .mapa-item div {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.box .contato-mapa .mapa-item div h3 {
  font-weight: 600;
  margin: 0;
}
.box .contato-mapa .mapa-item div p {
  font-weight: 400;
}
.box .contato-mapa .mapa-item div img {
  padding-bottom: 10px;
}

.pagination-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 117px;
}
.pagination-box span {
  display: block;
  height: 9px;
  background-color: black;
  margin-bottom: 20px;
}
.pagination-box div {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.pagination-box div a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 500;
  font-size: 15px;
  height: 51px;
  width: 51px;
  text-decoration: none;
  color: black;
}
.pagination-box div a:hover {
  background-color: #dadada;
}
.pagination-box div a:active {
  background-color: black;
  color: white;
}

.categorias-item {
  display: flex;
  align-items: center;
  border: 1px solid #4a4a4a;
  border-radius: 100px;
  width: fit-content;
  height: 34px;
  padding: 9px 18px;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #4a4a4a;
}
.categorias-item:hover {
  color: #4a4a4a;
  background-color: #DADADA;
}
.categorias-item:active {
  background-color: black;
  color: white;
}

.lotes-item {
  padding-bottom: 40px;
}
.lotes-item a {
  color: black;
  text-decoration: none;
}
.lotes-item a:hover {
  text-decoration: underline;
}
.lotes-item a span {
  display: block;
  padding-top: 20px;
  font-weight: 500;
  font-size: 14px;
}
.lotes-item a h3 {
  padding-top: 15px;
  font-weight: 500;
  font-size: 22px;
}
.lotes-item a p {
  padding-top: 8px;
  font-weight: 500;
}
.lotes-item a p:first-of-type {
  font-size: 16px;
}
.lotes-item a p:nth-of-type(2) {
  font-size: 14px;
}

.galeria-item {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.galeria-item:hover .texto-blog h3, .galeria-item:hover .texto-blog p {
  text-decoration: underline;
}
.galeria-item:hover .sobrepor-link > div {
  background-color: #C61400;
}
.galeria-item a {
  text-decoration: none;
}
.galeria-item a .sobrepor-link {
  position: relative;
}
.galeria-item a .sobrepor-link:hover .lupa {
  background-color: #C61400;
}
.galeria-item a .sobrepor-link > div {
  position: absolute;
  color: #f6f6f6;
  background-color: #8a1002;
  width: 114px;
  height: 114px;
  bottom: 1.1875rem;
  left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeria-item a .sobrepor-link .lupa {
  position: absolute;
  color: #f6f6f6;
  background-color: #8a1002;
  width: 65px;
  height: 65px;
  bottom: 1.1875rem;
  left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeria-item a .sobrepor-link .lupa img {
  width: 22px;
  height: 22px;
}
.galeria-item a .texto-blog {
  text-align: left;
  max-width: 412px;
  color: black;
}
.galeria-item a .texto-blog h3 {
  padding-top: 31px;
  font-weight: 500;
  font-size: 20px;
}
.galeria-item a .texto-blog p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  height: 100px;
}
.galeria-item a .texto-blog > div {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #8a1002;
  padding-bottom: 89px;
}
.galeria-item a .texto-blog > div:hover {
  text-decoration: none;
}
.galeria-item a .texto-blog > div img {
  height: 15px;
  width: 56px;
}

svg:hover {
  stroke: #767676;
}

.botao-swiper {
  padding-top: 30px;
  padding-bottom: 80px;
  display: flex;
  gap: 20px;
}

.botao-swiper-vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
}

.titulo-h2 {
  font-weight: 600;
  font-size: 16px;
  color: black;
  padding-bottom: 26px;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  background-color: white;
}
nav .btn {
  display: none;
}
nav .logo {
  margin-bottom: -80px;
  z-index: 2;
}
nav ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}
nav .desktop-list {
  height: 100%;
}
nav .desktop-list li {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
nav .desktop-list li:hover {
  background-color: #f6f6f6;
}
nav .desktop-list a {
  text-decoration: none;
  color: black;
}

.fechar {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fechar .botao-fechar {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.fechar .botao-fechar p {
  margin: 0;
}

.botao-nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.rodape-header {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  overflow: hidden;
}

.swiper-slide {
  background: #fff;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 990px) {
  ul:first-of-type {
    display: none;
  }

  nav .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    order: 2;
  }
  nav .btn .burguer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
  }
  nav .btn .burguer span {
    width: 40px;
    height: 5px;
    background-color: black;
  }
  nav .btn p {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  .offcanvas {
    height: 100%;
  }

  .offcanvas-body ul:first-of-type {
    display: block;
    padding-bottom: 30px;
    text-align: center;
  }
  .offcanvas-body ul:first-of-type li {
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  .offcanvas-body ul:first-of-type li a {
    text-decoration: none;
    color: black;
  }
  .offcanvas-body .botao-nav {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .botao-nav {
    display: none;
  }
}
@media (max-width: 320px) {
  .rodape-header {
    background-color: #028a49;
    height: fit-content;
    display: flex;
    align-items: center;
  }
  .rodape-header .contato-rodape a:nth-of-type(2) {
    border-right: none;
  }
  .rodape-header .contato-rodape a p, .rodape-header .contato-rodape span {
    font-size: 14px;
  }

  body {
    position: relative;
  }

  .nav-header {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
    justify-content: space-around;
  }
  .nav-header .logo {
    width: 68.25px;
    height: 78px;
    margin-bottom: 0;
  }
  .nav-header button {
    order: -1;
  }
  .nav-header .rodape-header {
    width: 100%;
    justify-content: space-around;
  }
  .nav-header .rodape-header .contato-rodape {
    width: 100%;
  }
  .nav-header .offcanvas {
    background-color: rgba(255, 255, 255, 0.85);
  }
  .nav-header .offcanvas-body {
    padding: 0;
  }
  .nav-header .offcanvas-body .botao-nav {
    flex-direction: column;
  }
  .nav-header .botao-preto, .nav-header .botao-vermelho {
    width: 90%;
  }
  .nav-header .botao-preto a, .nav-header .botao-vermelho a {
    justify-content: center;
  }
  .nav-header .fechar {
    height: 91px;
    margin-top: 30px;
    border-radius: 20px 20px 0 0;
    background-color: white;
  }

  .btn-close {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .contato-mapa {
    flex-direction: column;
    height: 420px;
  }
  .contato-mapa .mapa-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contato-mapa .mapa-item div {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .formulario-itens {
    flex-direction: column;
  }
  .formulario-itens > div:first-of-type {
    width: 100%;
  }
  .formulario-itens > div:nth-of-type(2) {
    width: 100%;
  }
  .formulario-itens > div:nth-of-type(2) textarea {
    height: 100%;
  }
  .formulario-itens .separar-form {
    padding-right: 0;
    padding-bottom: 19px;
    width: 100%;
  }
  .formulario-itens .separar-form2 {
    flex-direction: column;
  }

  .formulario form .formulario-itens {
    flex-direction: column;
  }
  .formulario form .formulario-itens > div:first-of-type {
    width: 100%;
  }
  .formulario form .formulario-itens > div:nth-of-type(2) {
    width: 100%;
  }
  .formulario form .formulario-itens .separar-form {
    padding-right: 0;
  }
  .formulario form .separar-form2 {
    flex-direction: column;
  }
  .formulario form .separar-form2 p {
    text-align: center;
    width: fit-content;
  }
}
.bg-vermelho {
  background-image: url(images/bg-lote.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-color: #767676;
  width: 100%;
  height: 569px;
  position: relative;
  display: flex;
}
.bg-vermelho > img {
  position: absolute;
  top: 0;
  z-index: 1;
}
.bg-vermelho .intro-index {
  width: 100%;
  z-index: 2;
  display: flex;
}
.bg-vermelho .intro-index > img {
  align-self: flex-end;
  height: 420px;
  width: 770px;
}
.bg-vermelho .texto-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.bg-vermelho .texto-intro img {
  height: 294px;
  width: 374px;
}
.bg-vermelho .link-intro {
  max-width: 22rem;
}
.bg-vermelho .link-intro h1 {
  color: #FFAE5C;
  font-weight: 800;
  font-size: 33px;
  line-height: 40.23px;
  padding-bottom: 13px;
}
.bg-vermelho .link-intro h2 {
  font-weight: 400;
  font-size: 33px;
  line-height: 40.23px;
  padding-bottom: 24px;
}
.bg-vermelho .link-intro p {
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 20px;
}
.bg-vermelho .link-intro div {
  border: 2px solid white;
  padding: 16px 26px;
  text-align: center;
}
.bg-vermelho .link-intro div a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.box-ano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 958px;
}
.box-ano .texto-ano {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.box-ano .texto-ano .titulo-ano {
  font-size: 30px;
  line-height: 40px;
  color: white;
  width: 31.25rem;
}
.box-ano .texto-ano .titulo-ano h1 {
  font-weight: 400;
}
.box-ano .texto-ano .titulo-ano b {
  font-weight: 700;
}
.box-ano .texto-ano span {
  height: 9px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 40%;
}
.box-ano .texto-sobre {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-top: 96px;
}
.box-ano .texto-sobre p {
  width: 37.625rem;
  margin: auto;
}
.box-ano .texto-sobre p span {
  font-weight: 700;
}
.box-ano .texto-sobre .botoes-sobre {
  padding-top: 74px;
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: center;
}
.box-ano .texto-sobre .botoes-sobre div:nth-of-type(2) a {
  border: 2px solid #8a1002;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  padding: 14px 26px;
}
.box-ano .texto-sobre .botoes-sobre div:nth-of-type(2) a:hover {
  border: 2px solid white;
}

.box-swiper {
  padding-top: 50.64px;
}

.status-obras-box {
  padding-top: 89px;
  padding-bottom: 30px;
}
.status-obras-box .status-obras {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.status-obras-box .status-obras div {
  position: relative;
}
.status-obras-box .status-obras div span {
  width: 100%;
  margin-top: 26px;
  position: absolute;
  display: block;
  height: 2px;
  background-color: #c4c4c4;
}
.status-obras-box .status-obras div:hover a {
  color: #767676;
}
.status-obras-box .status-obras div:hover span {
  background-color: #767676;
}
.status-obras-box .status-obras div:active a {
  color: black;
}
.status-obras-box .status-obras div:active span {
  background-color: black;
}
.status-obras-box .status-obras div a {
  text-decoration: none;
  color: #767676;
  font-weight: 600;
  font-size: 16px;
}
.status-obras-box .status-obras div a:hover span {
  background-color: black;
  width: 100%;
}
.status-obras-box .pagination-span {
  margin-top: 26px;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #c4c4c4;
}

@media (max-width: 768px) {
  .box-ano .texto-sobre p {
    width: fit-content;
  }
}
@media (max-width: 320px) {
  .button-prev, .button-next {
    display: none;
  }

  .botao-swiper {
    display: block;
  }

  .box-ano .texto-ano {
    flex-direction: column;
  }
  .box-ano .texto-sobre {
    padding-top: 10px;
  }
  .box-ano .texto-sobre p {
    width: fit-content;
    text-align: center;
  }
  .box-ano .texto-sobre .botoes-sobre {
    height: 250px;
    flex-direction: column;
  }
  .box-ano .texto-sobre .botoes-sobre div:nth-of-type(2) {
    width: 100%;
    text-align: center;
  }
  .box-ano .texto-sobre .botoes-sobre div:nth-of-type(2) a {
    display: block;
  }
}
.formulario-box {
  padding-top: 72px;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario form {
  width: 100%;
}
.formulario form .formulario-itens {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.formulario form .formulario-itens > div:first-of-type {
  min-width: 48%;
}
.formulario form .formulario-itens > div:nth-of-type(2) {
  min-width: 48%;
}
.formulario form .formulario-itens > div:nth-of-type(2) textarea {
  width: 100%;
  height: 100%;
}
.formulario form .formulario-itens .separar-form div {
  padding-bottom: 19px;
}
.formulario form .formulario-itens .separar-form div:last-of-type {
  padding-bottom: 0;
}
.formulario form .formulario-itens2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario form .formulario-itens2 .nome-email {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-bottom: 19px;
}
.formulario form .formulario-itens2 .nome-email div {
  width: 50%;
}
.formulario form .formulario-itens2 .nome-email div input {
  height: 51px;
  width: 100%;
}
.formulario form .formulario-itens2 div {
  width: 100%;
}
.formulario form .formulario-itens2 div textarea {
  height: 191px;
}
.formulario form .formulario-itens2 .texto-enviar {
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
}
.formulario form .formulario-itens2 .texto-enviar div:nth-of-type(2) {
  width: 40%;
}
.formulario form .formulario-itens2 .texto-enviar div:nth-of-type(2) button {
  width: 100%;
}
.formulario form .separar-form2 {
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formulario form .separar-form2 p {
  max-width: 730px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.3px;
  color: #808080;
}

.empresa {
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
}
.empresa div:first-of-type p {
  padding-top: 34.67px;
}
.empresa div:nth-of-type(2) p {
  padding-bottom: 56px;
}
.empresa p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26.77px;
  color: #4a4a4a;
  width: 542px;
}
.empresa a {
  font-weight: 400;
  font-size: 18px;
  color: #8a1002;
}

.vantagens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 200px;
  padding-bottom: 180px;
}

.box-vantagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}
.box-vantagem div {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box-vantagem div h4 {
  padding-bottom: 26px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.box-vantagem div p {
  padding-top: 35px;
  border-top: 2px solid black;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.77px;
  text-align: left;
}

.categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.lotes-box {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.introducao-lote {
  background-image: url(images/bg-lote.png);
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
}
.introducao-lote .sombra {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  height: 100%;
}

.texto-empreendimento {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto-empreendimento p {
  width: 734px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.77px;
}

.progresso-obra {
  margin-top: 92px;
  background-color: black;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.progresso-obra h3 {
  padding-top: 17px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.progresso-obra .progresso {
  padding-top: 16px;
  padding-bottom: 23px;
}
.progresso-obra .progresso span {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progresso-obra .progresso span:first-of-type {
  position: absolute;
  display: block;
  height: 4px;
  z-index: 2;
  background-color: #028a49;
  width: 40.0625rem;
}
.progresso-obra .progresso span:first-of-type::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  z-index: 1;
  margin-left: auto;
  background-color: #00dd73;
  border-radius: 100%;
}
.progresso-obra .progresso span:nth-of-type(2) {
  position: relative;
  display: block;
  width: 61.5rem;
  height: 4px;
  background-color: #4a4a4a;
}

.obra-vantagens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 91px;
}
.obra-vantagens .item-obra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.obra-vantagens .item-obra p {
  padding-top: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: black;
}
.obra-vantagens .item-obra p span {
  display: block;
}

.proximidade {
  background-color: #8a1002;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 233px;
}
.proximidade .proximidade-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 20px;
  height: 100%;
  padding: 0 3.9375rem;
}
.proximidade .proximidade-item h3 {
  font-weight: 600;
}
.proximidade .proximidade-item p {
  font-weight: 400;
}
.proximidade .proximidade-item:nth-of-type(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.paragrafo-form {
  padding: 36px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.53px;
  color: #4a4a4a;
  width: 45.875rem;
}

@media (max-width: 768px) {
  .categorias {
    flex-wrap: wrap;
    justify-content: center;
  }

  .lotes-box {
    justify-content: center;
  }

  .pagination-box div {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .box-titulo div h1 {
    font-size: 25px;
  }
}
.border-red {
  border: 1px solid red;
}

.bg-casa {
  background-image: url(images/bg-casa.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 504px;
  display: flex;
  align-items: flex-end;
}
.bg-casa .texto-casa {
  background-color: black;
  max-width: 764px;
  height: 278px;
  display: flex;
  gap: 57px;
  position: relative;
}
.bg-casa .texto-casa .data {
  margin-top: 20px;
  margin-left: 20px;
  background-color: #8a1002;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 114px;
  width: 114px;
  color: white;
}
.bg-casa .texto-casa .data h2 {
  font-weight: 700;
  font-size: 48px;
}
.bg-casa .texto-casa .data p {
  font-weight: 600;
  font-size: 13px;
}
.bg-casa .texto-casa .titulo-blog {
  align-self: center;
  text-align: left;
}
.bg-casa .texto-casa .titulo-blog h3 {
  width: fit-content;
  color: #4a4a4a;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #4a4a4a;
  padding: 8px 15px;
  border-radius: 100px;
}
.bg-casa .texto-casa .titulo-blog h4 {
  padding-top: 27px;
  padding-bottom: 24px;
  max-width: 478px;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.bg-casa .texto-casa .titulo-blog a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 9px;
}
.bg-casa .texto-casa span {
  height: 9px;
  width: 100%;
  position: absolute;
  background-color: #8a1002;
  bottom: 0;
}

.titulo-blog {
  padding-top: 38px;
  padding-bottom: 72px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #767676;
}

.box-noticia {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.box-noticia .noticia {
  max-width: 829px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-noticia .noticia h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 38px;
}
.box-noticia .noticia p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26.77px;
  padding-bottom: 20px;
  color: #4a4a4a;
}
.box-noticia .noticia ul {
  padding-top: 56px;
  padding-bottom: 41px;
  font-weight: 500;
  font-size: 18px;
  color: #0d0d0d;
}
.box-noticia .noticia .noticia-redes {
  align-self: flex-start;
  padding-top: 129px;
  width: 100%;
}
.box-noticia .noticia .noticia-redes ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 25px;
  padding-top: 33px;
}
.box-noticia .noticia .formulario-blog {
  padding-top: 132px;
  width: 100%;
}
.box-noticia .noticia .comentarios-blog {
  width: 100%;
}
.box-noticia .noticia .comentarios-blog .comentario-user {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.box-noticia .noticia .comentarios-blog .comentario-user .user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.box-noticia .noticia .comentarios-blog .comentario-user .user h3 {
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.box-noticia .noticia .comentarios-blog .comentario-user .user p {
  font-weight: 400;
  font-size: 18px;
  color: #4a4a4a;
}
.box-noticia .links-noticia {
  max-width: 257px;
}
.box-noticia .links-noticia .assuntos-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 29px;
}
.box-noticia .links-noticia .veja-mais {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.box-noticia .links-noticia .veja-mais a {
  text-decoration: none;
}
.box-noticia .links-noticia .veja-mais a h3 {
  font-weight: 700;
  font-size: 16px;
  color: black;
}
.box-noticia .links-noticia .veja-mais a p {
  font-style: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.box-email {
  background-color: black;
  min-height: 458px;
  max-height: fit-content;
}

.email {
  display: flex;
  flex-direction: column;
  color: white;
}
.email h1 {
  padding-top: 128px;
  width: 400px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}
.email h1 b {
  font-weight: 700;
}
.email span {
  height: 9px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  margin-top: 23px;
  margin-bottom: 50px;
}
.email form {
  display: flex;
  gap: 50px;
}
.email form .form-item {
  display: flex;
  gap: 30px;
}
.email form input {
  padding: 10px 80px;
  color: #DADADA;
  background-color: black;
}
.email form button {
  color: white;
  background-color: #8A1002;
  width: 292px;
}

.contato {
  background-color: #F6F6F6;
}

.links-rodape {
  display: flex;
  padding-top: 50px;
}

.links {
  display: flex;
  gap: 90px;
}

.atendimento {
  padding-bottom: 80px;
}
.atendimento h4 {
  font-weight: 600;
  font-size: 18px;
}
.atendimento div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.atendimento div p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
}
.atendimento div p:first-of-type {
  width: 110px;
}

.links-itens {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 40px;
}
.links-itens div {
  display: flex;
  flex-direction: column;
  width: 210px;
}
.links-itens div a {
  color: black;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
}
.links-itens div:nth-of-type(1) a {
  text-decoration: none;
}
.links-itens div:nth-of-type(2) a {
  text-decoration: none;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 26px;
}
.botoes ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.botoes div {
  display: flex;
  justify-content: space-around;
}

.direitos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #C4C4C4;
}
.direitos p {
  color: #767676;
  font-weight: 500;
  font-size: 14px;
}

.rodape {
  background-color: #028a49;
  height: fit-content;
  display: flex;
  align-items: center;
}

.contato-rodape {
  display: flex;
  justify-content: space-between;
}
.contato-rodape a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  width: 100%;
}
.contato-rodape a:nth-of-type(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.contato-rodape a:hover {
  background-color: rgba(0, 255, 133, 0.3);
}
.contato-rodape a p {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
}
.contato-rodape a p span {
  font-weight: 700;
}

@media (max-width: 992px) {
  .email {
    justify-content: center;
    align-items: center;
  }
  .email h1 {
    width: 100%;
    text-align: center;
  }
  .email form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .email form .form-item {
    width: 100%;
    justify-content: space-evenly;
  }
  .email form input {
    padding: 10px 20px;
  }
  .email form button {
    width: 100%;
  }

  .links {
    flex-wrap: wrap;
  }

  .botoes {
    flex-direction: row;
    align-items: center;
  }
  .botoes div {
    gap: 50px;
  }
}
@media (max-width: 576px) {
  input {
    padding: 10px 20px;
  }

  .links {
    padding-bottom: 77px;
  }

  .botoes div {
    margin-left: 0;
  }
  .botoes div a {
    display: block;
  }

  .direitos {
    flex-direction: column;
  }
  .direitos img {
    padding-bottom: 18.77px;
  }
}
@media (max-width: 575.9px) {
  .email {
    height: 500px;
  }

  .form-item {
    flex-direction: column;
    gap: 15px;
  }

  .atendimento {
    padding-bottom: 30px;
  }
  .atendimento div p:first-of-type {
    width: 137px;
  }

  .links {
    flex-direction: column-reverse;
    gap: 0;
  }

  .links-itens {
    gap: 0;
    order: 1;
  }
  .links-itens div {
    width: 100%;
  }

  .botoes {
    padding-top: 22px;
    flex-direction: column;
  }
  .botoes a {
    width: 100%;
  }
  .botoes i {
    display: none;
  }

  .direitos p {
    text-align: center;
  }

  .rodape {
    display: none;
  }
}
@media (max-width: 320px) {
  .form-item .form-item div {
    width: 50%;
  }

  .box-ano .texto-ano span {
    bottom: 25%;
  }

  .email h1 {
    padding-top: 0;
  }

  .botoes div {
    display: block;
    width: 100%;
  }
  .botoes div a {
    text-align: center;
  }

  .links-itens {
    width: 100%;
  }

  .direitos {
    padding-bottom: 70px;
  }
}
