.botao-preto {
  background-color: black;
  padding: 14px 20px;
  border-radius: 3px;
  text-align: center; }
  .botao-preto a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none; }
    .botao-preto a img {
      padding-right: 8px; }

.botao-vermelho {
  background-color: #8a1002;
  border: none;
  padding: 14px 20px;
  border-radius: 3px;
  text-align: center;
  color: white; }
  .botao-vermelho a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none; }
    .botao-vermelho a img {
      padding-right: 8px; }

.box-titulo {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 252px; }
  .box-titulo div {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .box-titulo div h1 {
      color: white;
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      line-height: 40px; }
    .box-titulo div p {
      font-weight: 500;
      font-size: 17px;
      text-align: center;
      line-height: 20.72px;
      color: #767676; }

.box h2 {
  color: #8a1002;
  font-weight: 400;
  font-size: 30px; }
.box span {
  display: block;
  width: 100%;
  height: 9px;
  background-color: black;
  margin-top: 29px;
  margin-bottom: 23px; }
.box iframe {
  height: 435px;
  width: 100%; }
.box .contato-mapa {
  background-color: black;
  border-radius: 3px;
  height: 188px;
  margin: 113px 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .box .contato-mapa .mapa-item {
    color: #F6F6F6; }
    .box .contato-mapa .mapa-item div {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px; }
      .box .contato-mapa .mapa-item div h3 {
        font-weight: 600;
        margin: 0; }
      .box .contato-mapa .mapa-item div p {
        font-weight: 400; }
      .box .contato-mapa .mapa-item div img {
        padding-bottom: 10px; }
    .box .contato-mapa .mapa-item:last-of-type {
      background-color: #028A49;
      border-radius: 3px;
      padding-left: 28px;
      width: 239px;
      padding-top: 10px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .btn {
    display: none; }
  nav .logo {
    margin-bottom: -80px; }
  nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0; }
  nav .desktop-list li {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding: 20px 30px; }
  nav .desktop-list a {
    text-decoration: none;
    color: black; }

.botao-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px; }

@media (max-width: 990px) {
  ul:first-of-type {
    display: none; }

  nav .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    order: 2; }
    nav .btn .burguer {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: space-between; }
      nav .btn .burguer span {
        width: 40px;
        height: 5px;
        background-color: black; }
    nav .btn p {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      text-align: center; }

  .offcanvas {
    height: 100%; }

  .offcanvas-body {
    height: 100%; }
    .offcanvas-body ul:first-of-type {
      display: block;
      padding-bottom: 30px; }
      .offcanvas-body ul:first-of-type li {
        padding: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
        .offcanvas-body ul:first-of-type li a {
          text-decoration: none;
          color: black; }
    .offcanvas-body .botao-nav {
      display: flex; } }
@media (max-width: 576px) {
  .botao-nav {
    display: none; } }
.formulario {
  display: flex;
  align-items: center;
  justify-content: center; }
  .formulario form {
    padding-top: 72px;
    padding-bottom: 172px;
    width: 100%; }
    .formulario form .formulario-itens {
      display: flex;
      width: 100%; }
      .formulario form .formulario-itens > div:first-of-type {
        width: 50%; }
      .formulario form .formulario-itens > div:nth-of-type(2) {
        width: 50%; }
        .formulario form .formulario-itens > div:nth-of-type(2) textarea {
          height: 100%; }
      .formulario form .formulario-itens .separar-form {
        padding-right: 30px; }
        .formulario form .formulario-itens .separar-form div {
          padding-bottom: 19px; }
          .formulario form .formulario-itens .separar-form div:last-of-type {
            padding-bottom: 0; }
    .formulario form .separar-form2 {
      padding-top: 27px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .formulario form .separar-form2 p {
        width: 730px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18.3px;
        color: #808080; }

.empresa {
  display: flex;
  gap: 30px; }
  .empresa p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26.77px;
    color: #4A4A4A; }
    .empresa p:nth-of-type(2) {
      padding-bottom: 56px; }
  .empresa a {
    font-weight: 400;
    font-size: 18px;
    color: #8a1002; }

* {
  font-family: 'Montserrat', sans-serif; }

.box-email {
  background-color: black;
  min-height: 458px;
  max-height: fit-content; }

.email {
  display: flex;
  flex-direction: column;
  color: white; }
  .email h1 {
    padding-top: 128px;
    width: 400px; }
  .email span {
    height: 9px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    margin-top: 23px;
    margin-bottom: 50px; }
  .email form {
    display: flex;
    gap: 50px; }
    .email form .form-item {
      display: flex;
      gap: 30px; }
    .email form input {
      padding: 10px 80px; }
    .email form button {
      color: white;
      background-color: #8A1002;
      width: 292px; }

.atendimento {
  padding-bottom: 80px; }
  .atendimento p {
    padding-top: 15px; }

.links-rodape {
  display: flex;
  padding-top: 50px; }

.links {
  display: flex;
  gap: 90px; }

.atendimento div {
  display: flex;
  align-items: center;
  gap: 10px; }
  .atendimento div p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px; }
    .atendimento div p:first-of-type {
      width: 110px; }

.links-itens {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 40px; }
  .links-itens div {
    display: flex;
    flex-direction: column;
    width: 210px; }
    .links-itens div a {
      color: black;
      font-weight: 500;
      font-size: 15px;
      line-height: 35px; }
    .links-itens div:nth-of-type(1) a {
      text-decoration: none; }
    .links-itens div:nth-of-type(2) a {
      text-decoration: none; }

.botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 26px; }
  .botoes div {
    display: flex;
    justify-content: space-around; }
    .botoes div i {
      color: black; }

.direitos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #C4C4C4; }
  .direitos p {
    color: #767676;
    font-weight: 500;
    font-size: 14px; }

.rodape {
  background-color: #028A49;
  height: 65px;
  display: flex;
  align-items: center; }
  .rodape .contato-rodape {
    display: flex;
    justify-content: space-around; }
    .rodape .contato-rodape a {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none; }
      .rodape .contato-rodape a p {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.94px; }
        .rodape .contato-rodape a p span {
          font-weight: 700; }

@media (max-width: 992px) {
  .email {
    justify-content: center;
    align-items: center; }
    .email h1 {
      width: 100%;
      text-align: center; }
    .email form {
      flex-wrap: wrap;
      justify-content: center; }
      .email form .form-item {
        width: 100%;
        justify-content: space-evenly;
        gap: 0; }
      .email form input {
        padding: 10px 20px; }
      .email form button {
        width: 90%; }

  .links-itens {
    width: 100%;
    gap: 35px; }

  .links-rodape {
    flex-direction: column; }

  .botoes {
    flex-direction: row;
    align-items: center; }
    .botoes div {
      margin-left: 180px;
      gap: 50px; } }
@media (max-width: 576px) {
  input {
    padding: 10px 20px; }

  .links {
    padding-bottom: 77px; }

  .botoes div {
    margin-left: 0; }

  .direitos {
    flex-direction: column; }
    .direitos img {
      padding-bottom: 18.77px; } }
@media (max-width: 575.9px) {
  .email {
    height: 500px; }

  .form-item {
    flex-direction: column;
    gap: 15px; }

  .atendimento {
    padding-bottom: 30px; }
    .atendimento div p:first-of-type {
      width: 137px; }

  .links {
    flex-direction: column-reverse;
    gap: 0; }

  .links-itens {
    gap: 0;
    order: 1; }
    .links-itens div {
      width: 100%; }

  .botoes {
    padding-top: 22px;
    flex-direction: column; }
    .botoes a {
      width: 100%; }
    .botoes i {
      display: none; }

  .direitos p {
    text-align: center; }

  .rodape {
    display: none; } }

/*# sourceMappingURL=style.css.map */
