@media (max-width: 768px) {
  .contato-mapa {
    flex-direction: column;
    height: 420px;
    .mapa-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        text-align: center;
      }
    }
  }
}

@media (max-width: 320px) {
  .formulario-itens {
    flex-direction: column;
    & > div:first-of-type {
      width: 100%;
    }
    & > div:nth-of-type(2) {
      width: 100%;
      textarea {
        height: 100%;
      }
    }
    .separar-form {
      padding-right: 0;
      padding-bottom: 19px;
      width: 100%;
    }
    .separar-form2 {
      flex-direction: column;
    }
  }

  .formulario {
    form {
      .formulario-itens {
        flex-direction: column;
        & > div:first-of-type {
          width: 100%;
        }
        & > div:nth-of-type(2) {
          width: 100%;
        }
        .separar-form {
          padding-right: 0;
        }
      }
      .separar-form2 {
        flex-direction: column;
        p {
          text-align: center;
          width: fit-content;
        }
      }
    }
  }
}
