@media (max-width:768px) {
  .categorias {
    flex-wrap: wrap;
    justify-content: center;
  }
  .lotes-box {
    justify-content: center;
  }
  .pagination-box div {
    margin: auto;
  }
}

@media (max-width:576px) {
  .box-titulo {
    div {
      h1 {
        font-size: 25px;
      }
    }
  }
}