@media (max-width: 768px) {
  .box-ano {
    .texto-sobre p {
      width: fit-content;
    }
  }

}

@media (max-width: 320px) {
  .button-prev , .button-next {
    display: none;
  }
  .box-ano {
    .texto-ano {
      flex-direction: column;
    }
    .texto-sobre {
      padding-top: 10px;
      p {
        width: fit-content;
        text-align: center;
      }
      .botoes-sobre {
        height: 250px;
        flex-direction: column;
        div:nth-of-type(2) {
          width: 100%;
          text-align: center;
          a {
            display: block;
          }
        }
      }
    }
  }
  .box {
    text-align: center;
    padding-top: 65px;
  }
  .botao-swiper {
    flex-direction: column;
    .setas {
      justify-content: center;
      padding-bottom: 31px;
    }
    div:hover {
      background-color: aquamarine;
      svg {
        stroke: #767676;
      }
    }
  }
  .lotes-item {
    padding-bottom: 28px;
    a {
      h2 {
        font-weight: 600;
        font-size: 14px;
      }
      h3 {
        font-weight: 500;
        font-size: 12px;
      }
      p:first-of-type, p {
        font-size: 12px;
      }
    }
  }
  .galeria-item {
    padding-top: 17px;
  }
  .status-obras-box {
    padding-top: 19px;
    .pagination-span {
      display: none;
    }
    .status-obras {
      flex-direction: column;
      div {
        text-align: center;
        span {
          display: none !important;
        }
        border-bottom: 2px solid #C4C4C4;
        width: 100%;
        padding: 20px 0;
        &:active {
          border-bottom: 2px solid black;
          background-color: #C4C4C4;
          a {
            color: black;
          }
        }
      }
    }
  }
  .texto-blog {
    div {
      padding-top: 15px;
      padding-bottom: 31px !important;
    }
  }
}