.introducao-lote {
  background-image: url(assets/images/bg-lote.png);
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  .sombra {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    height: 100%;
  }
}

.texto-empreendimento {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    width: 734px;
    line-height: 26.77px;
  }
}

.progresso-obra {
  margin-top: 92px;
  background-color: black;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  h3 {
    padding-top: 17px;
    color: white;
  }
  .progresso {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 23px;
    display: flex;
    span {
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-of-type {
        position: absolute;
        display: block;
        height: 4px;
        z-index: 2;
        background-color: $verde;
        width: 40.0625rem;
        &::after {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          z-index: 1;
          margin-left: auto;
          margin-top: -3px;
          background-color: #00dd73;
          border-radius: 100%;
        }
      }
      &:nth-of-type(2) {
        position: relative;
        display: block;
        width: 61.5rem;
        height: 4px;
        background-color: $cinza-escuro;
      }
    }
  }
}

.obra-vantagens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 91px;
  .item-obra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      padding-top: 5px;
      text-align: center;
      color: black;
      span {
        display: block;
      }
    }
  }
}

.proximidade {
  background-color: $vermelho;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 233px;
  .proximidade-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $cinza-claro;
    height: 100%;
    padding: 0 3.9375rem;
    &:nth-of-type(2) {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.paragrafo-form {
  padding: 36px 0;
  font-weight: 500;
  line-height: 23.53px;
  color: $cinza-escuro;
  width: 45.875rem;
}
