*{
  font-family: 'Montserrat', sans-serif;
}
.box-email {
  background-color: black;
  min-height: 458px;
  max-height: fit-content;
}
.email {
  display: flex;
  flex-direction: column;
  color: white;
  h1 {
    padding-top: 128px;
    width: 400px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    b {
      font-weight: 700;
    }
  }
  span {
    height: 9px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    margin-top: 23px;
    margin-bottom: 50px;
  }
  form {
    display: flex;
    gap: 50px;
    .form-item {
      display: flex;
      gap: 30px;
    }
    input {
      padding: 10px 80px;
      color: #DADADA;
      background-color: black;
    }
    button {
      color: white;
      background-color: #8A1002;
      width: 292px;
    }
  }
}
.contato {
  background-color: #F6F6F6;
}
.links-rodape {
  display: flex;
  padding-top: 50px;
}
.links {
  display: flex;
  gap: 90px;
  .lista-mobile {
    display: none;
  }
}
.atendimento {
  padding-bottom: 80px;
  h4 {
    font-weight: 600;
    font-size: 18px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      padding-top: 15px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.94px;
      &:first-of-type {
        width: 110px;
      }
    }
  }
}
.links-itens {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 40px;
  div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    a {
      color: black;
      font-weight: 500;
      font-size: 15px;
      line-height: 35px;
      &:hover {
        color: #767676;
        text-decoration: underline;
      }
    }
    &:nth-of-type(1) a {
      text-decoration: none;
      &:hover {
        color: #767676;
        text-decoration: underline;
      }
    }
    &:nth-of-type(2) a {
      text-decoration: none;
      &:hover {
        color: #767676;
        text-decoration: underline;
      }
    }
  }
}


.botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 26px;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div {
    display: flex;
    justify-content: space-around;
  }
}

.direitos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #C4C4C4;
  p {
    color: #767676;
    font-weight: 500;
    font-size: 14px;
  }
}
.rodape {
  background-color: $verde;
  height: fit-content;
  display: flex;
  align-items: center;
}

.contato-rodape {
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 100%;
    &:nth-of-type(2) {
      border-left: 1px solid rgba(255,255,255,0.1);
      border-right: 1px solid rgba(255,255,255,0.1);

    }
    &:hover {
      background-color:  rgba(0,255,133,0.3);
    }
    p {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 21.94px;
      span {
        font-weight: 700;
      }
    }
    
  }
}

@media (max-width: 990px) {
  .email {
    justify-content: center;
    align-items: center;
    h1 {
      width: 100%;
      text-align: center;
    }
    form {
      flex-wrap: wrap;
      justify-content: center;
      .form-item {
        width: 100%;
        justify-content: space-evenly;
        div {
          width: 50%;
        }
      }
      input {
        padding: 10px 20px;
      }
      button {
        width: 100%;
      }
    }
  }
  .links {
    flex-wrap: wrap;
  }
  .botoes {
    flex-direction: row;
    align-items: center;
    div {
      gap: 50px;
    }
  }
}

@media (max-width:767.9px) {
  input {
    padding: 10px 20px;
  }
  .links {
    padding-bottom: 77px;
  }
  .botoes {
    width: 100%;
    justify-content: space-between;
    ul {
      width: 30%;
      justify-content: space-between;
    }
    div {
      margin-left: 0;
      a {
        display: block;
      }
    }
  }
  .direitos {
    flex-direction: column;
  }
}

@media (max-width:575.9px) {
  .form-item {
    flex-direction: column;
    gap: 15px;
  }
  .atendimento {
    padding-bottom: 30px;
    div {
      p:first-of-type {
        width: 137px;
      }
    }
  }
  .links {
    flex-direction: column-reverse;
    gap: 0;
    .lista-mobile {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  }
  .links-itens {
    width: 100%;
    gap: 0;
    order: 1;
    div {
      width: 100%;
    }
  }
  .botoes {
    padding-top: 22px;
    flex-direction: column;
    a {
      width: 100%;
    }
    ul {
      display: none;
    }
  }
  .direitos {
    p {
      text-align: center;
    }
  }
  .rodape {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .contato-rodape a {
      &:first-of-type {
        display: none;
      }
      &:nth-of-type(2) {
        border-left: none;
      }
    }
  }

  .box-ano {
    .texto-ano span {
      bottom: 25%;
    }
  }
  .botao-vermelho , .botoes {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.29px;
  }
  .email {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      gap: 20px;
    }
    h1 {
      width: 70%;
      padding-top: 0;
    }
    span {
      margin-bottom: 20px;
    }
    .form-item {
      .form-item {
        div {
          width: 50%;
        }
      }
    }
  }

  .botoes {
    div {
      display: block;
      width: 100%;
      a {
        text-align: center;
      }
    }
  }
  .direitos {
    padding-bottom: 70px;
  }
}

