.box-email {
  background-color: black;
  min-height: 458px;
  max-height: fit-content;
}
.email {
  display: flex;
  flex-direction: column;
  color: white;
  h1 {
    padding-top: 128px;
    width: 400px;
    line-height: 40px;
  }
  span {
    height: 9px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    margin-top: 23px;
    margin-bottom: 50px;
  }
  form {
    display: flex;
    gap: 50px;
    .form-item {
      display: flex;
      gap: 30px;
    }
    input {
      padding: 10px 80px;
      color: #dadada;
      background-color: black;
    }
    button {
      color: white;
      background-color: #8a1002;
      width: 292px;
    }
  }
}

@media (max-width: 575.9px) {
    .links-rodape {
      .links-itens {
        order: -2;
      }
      .botoes {
        order: -1;
      }
      .atendimentos-container {
        order: 1;
      }
    }
    .caixa-botoes {
      width: 100% !important;
    }
}
ul {
  list-style: none;
}
.contato {
  background-color: $cinza-claro;
}
.links-rodape {
  padding-top: 50px;
}
.links {
  display: flex;
  gap: 90px;
  svg:hover path {
    fill: $cinza;
  }
}
.atendimento {
  padding-bottom: 80px;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      padding-top: 15px;
      line-height: 21.94px;
      &:first-of-type {
        width: 137px;
      }
    }
  }
}
.links-itens {
  // display: flex;
  // flex-wrap: wrap;
  // // width: 50%;
  // gap: 15px;
  @media (min-width: 768px) {
    gap: 40px;
  }
  div {
    // display: flex;
    // flex-direction: column;
    // width: fit-content;
    a {
      color: black;
      font-weight: 500;
      font-size: 15px;
      line-height: 35px;
      display: block;
      width: fit-content;
      svg {
        margin-right: 5px;
      }
      &:hover {
        color: $cinza;
        text-decoration: underline;
        svg path {
          stroke: $cinza;
        }
      }
    }
    &:nth-of-type(1) a {
      text-decoration: none;
      &:hover {
        color: $cinza;
        text-decoration: underline;
      }
    }
    &:nth-of-type(2) a {
      text-decoration: none;
      &:hover {
        color: $cinza;
        text-decoration: underline;
      }
    }
  }
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 26px;
  .row >div {
    height: 120px;
    width: fit-content;
    padding: 0;
    @media(min-width: 576px) {
      .botao-preto, .botao-vermelho {
        max-width: 221px;
        width: 100%;
      }
    }
  }
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      &:first-of-type {
        padding: 1.71875rem 1.71875rem 1.71875rem 0;
      }
      &:nth-of-type(2) {
        padding: 1.71875rem;
      }
      &:nth-of-type(3) {
        padding: 1.71875rem 0 1.71875rem 1.71875rem;
      }
      &:hover path {
        fill: $cinza;
      }
    }
  }
  div {
    display: flex;
    justify-content: space-around;
  }
}

.direitos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid $cinza-medio;
  p {
    color: $cinza;
  }
}
.rodape {
  background-color: $verde;
  height: fit-content;
  display: flex;
  align-items: center;
}

.contato-rodape {
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 100%;
    &:nth-of-type(2) {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    &:hover {
      background-color: rgba(0, 255, 133, 0.3);
    }
    p {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      line-height: 21.94px;
    }
  }
}
