* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: white;
}

.box-nav {
  height: 91px;
  .logo {
    z-index: 10000;
    margin-bottom: -90px;
  }

  .links-nav {
    display: flex;
    &:not(.botao-preto, .botao-vermelho) a {
      display: block;
      text-decoration: none;
      color: black;
      padding: 35px calc(6.6vw - 49px);
      border-right: 1px solid rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: rgba(246, 246, 246, 1);
      }
    }
    .botao-preto,
    .botao-vermelho {
      display: none;
    }
    &.menu-aberto {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      top: 50px;
      left: 0;
      padding-left: 0;
      z-index: 900;
      a {
        text-align: center;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      }
    }
  }

  .botoes-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    .botao-preto {
      margin-right: 20px;
    }
  }

  .menu {
    width: 130px;
    height: 25px;
    .burgir {
      height: 100%;
      position: relative;
      .top,
      .mid,
      .bot {
        display: block;
        position: absolute;
        width: 40px;
        height: 5px;
        background-color: black;
        transition: all 0.5s ease-in-out;
      }
      .top {
        top: 0;
      }
      .mid {
        top: 10px;
      }
      .bot {
        top: 20px;
      }

      &.active {
        .top {
          transform: rotate(45deg);
          top: 8px;
        }
        .mid {
          opacity: 0;
        }
        .bot {
          transform: rotate(-45deg);
          top: 8px;
        }
      }
    }

    p {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
@media (max-width: 1080px) {
  .links-nav:not(.menu-aberto) {
    display: none !important;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links-nav {
    padding-bottom: 105px !important;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
  }
  .menu-aberto {
    padding-top: 115px !important;
  }
  .botoes-nav {
    margin: auto;
  }
  .menu-wrapper, .botao-preto , .botao-vermelho {
    z-index: 9999;
  }
}
@media (min-width: 1081.9px) {
  .menu {
    display: none;
  }
}

@media (max-width: 767.9px) {
  .box-nav {
    justify-content: space-between;
  }
  .botoes-nav {
    display: none !important;
  }
  .links-nav {
    padding: 0;
    order: -1;
    .botao-preto,
    .botao-vermelho {
      display: flex !important;
    }
    .botao-preto {
      margin-top: 28px;
      margin-bottom: 19px;
    }
  }
}

@media (max-width: 575.9px) {
  // .box-nav
  .box-nav {
    height: inherit;
  }
  .menu-aberto {
    margin: 0;
    top: 0 !important;
  }
  .menu-wrapper {
    height: 91px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    border-radius: 20px 20px 0 0;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    // box-shadow: 0px, 4px rgba(0, 0, 0, 0.25);
    .logo {
      order: 2;
      margin: 0;
      img {
        width: 68.25px;
        height: 78px;
      }
    }
    .links-nav {
      height: 100%;
    }
  }
}

