nav {
  display: flex;
  align-items: center;
  height: 91px;
  background-color: white;
  .btn {
    display: none;
  }
 .logo {
  margin-bottom: -80px;
  z-index: 2;
 }
 ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
 }
 .desktop-list {
  height: 100%;
  li {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    &:hover {
      background-color: $cinza-claro;
    }
  }
  a {
    padding: 34px 45px;
    text-decoration: none;
    color: black;
  }
}
}
.fechar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  .botao-fechar {
    display: flex;
    align-items: center;
    color: black;
    .btn-close {
      background: none;
      width: fit-content;
      height: fit-content;
    }
    p {
      margin: 0;
    }
  }
  .logo {
    width: 68.25px;
    height: 78px;
    margin-bottom: 0;
  }
}
.botao-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  gap: 20px;
  margin-left: auto;
}

