nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  background-color: white;
  .btn {
    display: none;
  }
 .logo {
  margin-bottom: -80px;
  z-index: 2;
 }
 ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 16px;
 }
 .desktop-list {
  height: 100%;
  li {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    &:hover {
      background-color: $cinza-claro;
    }
  }
  a {
    padding: 34px 45px;
    text-decoration: none;
    color: black;
  }
}
}
.fechar {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .botao-fechar {
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    p {
      margin: 0;
    }
  }
}
.botao-nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}


@media (max-width: 990px) {
  nav {
    ul:first-of-type {
      display: none;
    }
    .btn {
      display: flex;
      align-items: center;
      gap: 5px;
      order: 2;
      .burguer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-between;
        span {
          width: 40px;
          height: 5px;
          background-color: black;
        }
      }
      p {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .offcanvas {
    height: 100%;
  }
  .offcanvas-body {
    ul:first-of-type {
      display: block;
      padding-bottom: 30px;
      text-align: center;
      li {
        padding: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    .botao-nav {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 767.9px) {
  .botao-nav {
    display: none;
  }
}

@media (max-width: 575.9px) {
  body {
    position: relative;
  }
  .nav-header {
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
    justify-content: space-around;
    .logo {
      width: 68.25px;
      height: 78px;
      margin-bottom: 0;
    }
    button {
      order: -1;
    }
    .offcanvas {
      background-color: rgba(255, 255, 255, 0.85);
    }
    .offcanvas-body {
      margin-top: 80px;
      padding: 0;
      .botao-nav {
        flex-direction: column;
      }
    }
    .botao-preto, .botao-vermelho {
      width: 90%;
      a {
        justify-content: center;
      }
    }
    .fechar {
      height: 91px;
      margin-top: 30px;
      border-radius: 20px 20px 0 0;
      background-color: white;
    }
  }
  .btn-close {
    opacity: 1;
  }
}
