.bg-vermelho {
  background-image: url(assets/images/bg-lote-vermelho.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  background-color: $cinza;
  width: 100%;
  height: 672px;
  position: relative;
  & > img {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .texto-intro {
    display: flex;
    position: absolute;
    left: 40%;
    top: 15%;
    color: white;
    img {
      width: 23.375rem;
      height: 18.375;
    }
  }
  .link-intro {
    width: 22rem;
    h1 {
      color: #ffae5c;
      line-height: 40.23px;
      padding-bottom: 13px;
    }
    h2 {
      line-height: 40.23px;
      padding-bottom: 24px;
    }
    p {
      padding-bottom: 20px;
    }
    a {
      white-space: nowrap;
      border: 2px solid white;
      border-radius: 3px;
      padding: 16px 26px;
      text-decoration: none;
      color: white;
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}
.box-ano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 958px;
  .texto-ano {
    display: flex;
    position: relative;
    justify-content: space-between;
    .titulo-ano {
      z-index: 2;
      line-height: 40px;
      color: white;
      width: 100%;
      h1 {
        max-width: 31.25rem;
      }
      span {
        height: 9px;
        width: 100%;
        display: block;
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
  .texto-sobre {
    color: white;
    line-height: 26px;
    padding-top: 96px;
    p {
      width: 37.625rem;
      margin: auto;
    }
    .botoes-sobre {
      padding-top: 74px;
      display: flex;
      gap: 21px;
      align-items: center;
      justify-content: center;
      a:not(.botao-vermelho) {
        white-space: nowrap;
        max-height: 51px;
        width: 217px;
        border: 2px solid $vermelho;
        border-radius: 3px;
        color: white;
        text-decoration: none;
        padding: 16px 26px 17px 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          border: 2px solid white;
        }
      }
      a:first-of-type {
        max-width: 302px;
      }
    }
  }
}

.box-swiper {
  padding-top: 50.64px;
}
.status-obras-box {
  padding-top: 89px;
  padding-bottom: 30px;
  .status-obras {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      &:hover {
        cursor: pointer;
      }
      text-align: center;
      position: relative;
      span {
        width: 100%;
        margin-top: 26px;
        position: absolute;
        display: block;
        height: 2px;
        background-color: $cinza-medio;
      }
      &:hover {
        a {
          color: $cinza;
        }
        span {
          background-color: $cinza;
        }
      }
      a {
        text-decoration: none;
        color: $cinza;
        font-size: 16px;
        padding: 0 70px;
        &:hover {
          span {
            background-color: black;
            width: 100%;
          }
        }
      }
    }
  }
  .pagination-span {
    margin-top: 26px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: $cinza-medio;
  }
}

.ativo {
  a {
    color: black !important;
  }
  span {
    background-color: black !important;
  }
}

